.addBookHeader {
  height: 65px;
  background: #1976d2;
  color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9001;
}

.backIcon {
  color: #fff;
}

.addBookHeader .container {
  display: flex;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.container h1 {
  font-size: 1.25rem;
  margin-left: 20px;
}

.addBookInputs {
  margin-top: 85px;
}

.input {
  width: 100%;
}

.addBookInputsRow {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.addButton {
  width: 100%;
}

.authorRowIcon {
  cursor: pointer;
}
