.sign {
  width: 100vw;
  max-width: 500px;
  padding: 40px;
}

h1 {
  background-color: #1976d2;
  display: inline-block;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

h2 {
  margin-top: 30px;
}

.signForm {
  margin-top: 30px;
}

.signInput {
  width: 100%;
}

.signButton {
  width: 100%;
}

.signUserError {
  margin-bottom: 20px;
  display: none;
  color: red;
}

.show {
  display: block;
}

.forgotPassword {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid black;
  display: inline-block;
}

.forgotPasswordContainer {
  display: flex;
  justify-content: center;
}

.signUp {
  margin-top: 20px;
  text-align: center;
}

.signUp a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}
