.container {
  max-width: 500px;
  width: 100%;
}

.noBooksInfo {
  text-align: center;
  margin-top: 40px;
}

.resultsRow {
  display: flex;
  border-bottom: 1px solid #bdbdbd;
  min-height: 70px;
  cursor: pointer;
  /* z-index and position relative are for drawer to be on top of resultsRow z-index */
  /* z-index: -1;
  position: relative; */
}

.resultsRowImg {
  background-size: cover;
  background-repeat: no-repeat;
}

.resultsRowInfo {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 100%;
}

.resultRowDescriptions {
  padding-left: 10px;
}

.resultRowDescriptions p {
  margin: 10px 0;
}

.descriptionsTitle {
  color: #1c76d2;
}

.resultsRowDate {
  color: #757575;
  font-size: 14px;
  margin-right: 5px;
}

.resultsRowAdd {
  color: #4caf50;
  cursor: pointer;
  width: 40px;
}

.resultsRowDate,
.resultsRowAdd {
  display: flex;
  align-items: center;
  justify-content: end;
}
